name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    env:
      SESSION_ID: ğ™°ğš‚ğ™¸ğšƒğ™·ğ™°-ğ™¼ğ™³=froXVK7D#IGypX0Ttk598VFtxyirR9D7F7IHNIRcjLpE-7Dibmug
      GITHUB_AUTH_TOKEN: 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
      GITHUB_USERNAME : Sallar40

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Start application
      run: npm start
